.main_contact {
  padding: 20px !important;
  color: #3d3535;
}
.main_contact .heading {
  font-size: 20px;
  font-weight: bold;
}
.main_contact .contact {
  margin-top: 20px;
}
.main_contact svg {
  font-size: 35px;
  font-weight: bold;
  margin-right: 10px;
  background: #e9fbff;
  border: 1px solid #9cedff;
  border-radius: 10px !important;
  padding: 7px;
  color: #00c8ff;
  font-weight: 700;
}
.main_contact .contact .geo__familarity__desc {
  margin-top: 7px !important;
  align-items: center;
  font-size: 14px;
  padding: 25px;
  border-radius: 10px !important;
  transition: 0.4s all ease-in-out;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.main_contact .contact .geo__familarity__desc:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
.main_contact .contact_form {
  background: #e9fbff;
  border: 1px solid #9cedff;
  padding: 25px 10px;
  border-radius: 10px !important;
}
.main_contact .contact_form .form-control {
  padding: 13px 10px;
  /* border: none !important; */
}
.main_contact .contact_map {
  background: #e9fbff;
  border: 1px solid #9cedff;
  padding: 20px;
  border-radius: 10px !important;
}
