.post_card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  overflow: hidden;
}

.post_card:hover {
  background: #10b17e16;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.post_card .card_icon_box {
  height: 60;
  width: 60;
  padding: 10px;
  border-radius: 50%;
  background-color: #10b17e;
}
.post_card .card_icon_box .card_icon {
  color: #fff;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  font-weight: 800;
}
